body{
    text-align: center
}
.logo{
    width:25%;
    margin:0 auto;
    border:2px solid black;
    text-align: center
}
.logo__img{
    width:100%;
    height:30%
}
.list{
    list-style: none;
    text-align: center;
}
.list__li{
    display: inline;
    margin: 5%;
    text-decoration: underline
}
.line{
    width:25%;
    height:5px;
    margin:2% auto;
    background: black
}
.button{
    width:10%;
    height: 25px;
    border-radius: 10px;
    background: rgb(138, 180, 228);
}
.flex{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(200px,auto);
    border:2px solid black
}
.grid__div{
    border:2px solid black;
    justify-content: space-evenly
}