.logo{
    width:20%;
    margin:0 auto;
    border:2px solid black;
    text-align: center
}
.logo__img{
    width:60%;
    height:30%
}
.list{
    list-style: none
}
.list__li{
    font-size: 10%;
    display: inline;
    margin: 5%
}